{% extends "moviemon/base.html" %}
{% load static %}

{% block title %}Movidex{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'moviemon/moviedex.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'moviemon/popup.css' %}">
{% endblock style %}

{% block content %}
<h1>Moviemons list</h1>

    {% if moviedex|length == 0 %}
		<div class="modal">
			<h1 class="message">No Moviemons caught yet...<br>
                go beat em all!</h1>
			<h1 class="message">Press SELECT: go to worldmap</h1>
		</div>
	{% else %}
        <table>
            <tr>
            {% for link, imdb, select in moviedex %}
                {% if forloop.counter == 7 %}
                    <tr>
                {% endif %}
                {% if select %}
                    <td ><img class="img_style" style="border: 2px solid red" src="{{link}}"></td>
                {% else %}
                    <td><img class="img_style" src="{{link}}"></td>
                {% endif %}
            {% endfor %}
            </tr>
            </tr>
        </table>
        <div> A - more information </div>
        <div> SELECT - back </div>
    {% endif %}


{% endblock content %}
