{% extends "moviemon/base.html" %}
{% load static %}

{% block title %}Title screen{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'moviemon/popup.css' %}">
{% endblock style %}

{% block content %}
<h1>Moviemons list</h1>

    {% if moviedex|length == 0 %}
		<div class="modal">
			<h1 class="message">No Moviemons caught yet...<br>
                go beat em all!</h1>
			<h1 class="message">Press SELECT: go to worldmap</h1>
		</div>
	{% else %}
        <table>
            {% for name, imdb, select in moviedex %}
                <tr>
                {% if select %}
                    <td style="border: 2px solid red">{{name}}</td>
                {% else %}
                    <td>{{name}}</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock content %}
